/* html {
    width: 60%;
    margin: 0 20% 0 20%;
    background-color: lightgreen;
}

body {
    background-color: white;
    padding: 1%;
    border-color: black;
    border-radius: 10px;    
}

@media (min-width: 0px) and (max-width: 600px) {
    html {
        width: 100%;
        margin: 0;
        background-color: lightgreen;
    }
}
 */

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}