*{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1vw;
}

.container {
    min-width: 1440px;
    max-width: 100%;
}

h1 {
    line-height: 138%;
    letter-spacing: 0.2px;
    color: #252B42;
    font-size: 3.5em;
}

h3 {
    line-height: 138%;
    color: #252B42;
    font-size: 1.5em;
}

header {
    display: flex;
    flex-direction: column;
    background-image:url(img/fon1.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.navbar {
    display: flex;
    align-items: center;
    align-content: flex-start;
    width: 75%;
    height: 12%;
    margin: 2% 12.5%;
    padding: 0 3%;
    justify-content: space-between;
}
 
 .flexbox1 {
     margin: 5px;
     padding: 5px;
     color: #737373;
     flex: 0 1 auto;
 }
 
 .flexbox1:nth-child(1) {
    margin: 0;
    }
    .flexbox1:nth-child(2) {
    margin: 0;
    }
    .flexbox1:nth-child(3) {
    margin: 0;
    }
 
.flexbox1 img {
   padding: 4px;
}

.flexbox1 span {
    padding: 4px;
 }

.more_customers {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 15%;
    max-height: 100%;
}

.more_customers_text {
    margin: 15% 0;
    width: 50%;
}

.more_customers_text p {
    color: #737373;
    font-size: 1.3em;
    margin: 40px 0;
}

.btn_cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.blue_btn {
    flex: none;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
    background: #00A0C1;
    border-radius: 37px;
    justify-content: center;
    height: 50px;
    width: 200px;
}

.not_blue_btn {
    flex: none;
    text-decoration: none;
    color:#00A0C1;
    display: flex;
    align-items: center;
    border: 1px solid #00A0C1;
    box-sizing: border-box;
    border-radius: 37px;
    justify-content: center;
    height: 50px;
    width: 200px;
    margin-left: 20px;

}

.more_customers_form {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    width: 25%;
    height: 40%;
    padding: 20px;
    font-size: 0.8em;
    margin-top: 7%;

}

.yellow_btn {
    flex: none;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
    align-self:center;
    background: #FFA62B;
    border-radius: 5px;
    justify-content: center;
    height: 50px;
    width: 200px;
    margin: 20px;
}

input {
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    width: 16vw;
    min-height: 30px;
    margin-bottom: 7px;
    align-self: center;
}

@media (min-width: 0px) and (max-width: 900px) {
    .blue_btn {width: 100px; height: 25px;}
    .not_blue_btn {width: 100px; height: 25px;}
    .yellow_btn {width: 120px; height: 30px;margin: 5px;}
    input {min-height: 20px; margin-bottom: 5px;}
}

.more_customers_form span{
    align-self: center;
    padding: 10px 0;
}

.more_customers_form h3{
    font-size: 1.5em;
}

.block2 {
    display: block;
    position: static;
    width: 100%;
    height: 100vh;
    background: white;
}

.block3 {
    display: block;
    position: static;
    width: 100%;
    height: 100vh;
    background: black;
}